.bn-editor {
    background-color: #1f2937; /* This is where the color of the whole editor's background is defined */
    border-radius: var(--bn-border-radius-large);
    color: var(--bn-colors-editor-text);
    font-family: var(--bn-font-family);
    border: 1px solid #374151;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bn-editor:focus {
    border: 1px solid #22c55e;
    outline: none;
}